<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_b9888e747ea34dedb258e8f4ce7b2135 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_b9888e747ea34dedb258e8f4ce7b2135" ></div>
        
</body>
<script>    
    
            var map_b9888e747ea34dedb258e8f4ce7b2135 = L.map(
                "map_b9888e747ea34dedb258e8f4ce7b2135",
                {
                    center: [0, 0],
                    crs: L.CRS.EPSG3857,
                    zoom: 1,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_d2dba52e95bc431181c75839f7f2fcea = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_b9888e747ea34dedb258e8f4ce7b2135);
        
    
            var marker_d6409092fa21467c954ca77e511e9773 = L.marker(
                [33.7690164, -118.191604],
                {}
            ).addTo(map_b9888e747ea34dedb258e8f4ce7b2135);
        
    
            var icon_bed4b4a9dced434499ff46e9c71e00d3 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "fa-circle-user", "iconColor": "yellow", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_d6409092fa21467c954ca77e511e9773.setIcon(icon_bed4b4a9dced434499ff46e9c71e00d3);
        
    
        var popup_4107981d1c2341cf9ef662450c9a9c1c = L.popup({"maxWidth": "100%"});

        
            var html_79124c8ef4054f3b8d7ea93445ba9d7e = $(`<div id="html_79124c8ef4054f3b8d7ea93445ba9d7e" style="width: 100.0%; height: 100.0%;">Name: half•alive, Username: @halfaliveco</div>`)[0];
            popup_4107981d1c2341cf9ef662450c9a9c1c.setContent(html_79124c8ef4054f3b8d7ea93445ba9d7e);
        

        marker_d6409092fa21467c954ca77e511e9773.bindPopup(popup_4107981d1c2341cf9ef662450c9a9c1c)
        ;

        
    
    
            var marker_15d7695ef18344848255a5e48bcafb33 = L.marker(
                [50.4500336, 30.5241361],
                {}
            ).addTo(map_b9888e747ea34dedb258e8f4ce7b2135);
        
    
            var icon_05a1f53de3604ac989fbe23ca24f173d = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "fa-circle-user", "iconColor": "yellow", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_15d7695ef18344848255a5e48bcafb33.setIcon(icon_05a1f53de3604ac989fbe23ca24f173d);
        
    
        var popup_91d099386c8549078cd1d2c2ed1df5de = L.popup({"maxWidth": "100%"});

        
            var html_b9bbc1cfcdce439ea987172bca285824 = $(`<div id="html_b9bbc1cfcdce439ea987172bca285824" style="width: 100.0%; height: 100.0%;">Name: Viktor Turskyi, Username: @ViktorTurskyi</div>`)[0];
            popup_91d099386c8549078cd1d2c2ed1df5de.setContent(html_b9bbc1cfcdce439ea987172bca285824);
        

        marker_15d7695ef18344848255a5e48bcafb33.bindPopup(popup_91d099386c8549078cd1d2c2ed1df5de)
        ;

        
    
    
            var marker_112d36c4f39b47e69e01dd3c1e390121 = L.marker(
                [52.4808348, -1.9142353],
                {}
            ).addTo(map_b9888e747ea34dedb258e8f4ce7b2135);
        
    
            var icon_9fb97df757a64dbc9ccb84df0b66836c = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "fa-circle-user", "iconColor": "yellow", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_112d36c4f39b47e69e01dd3c1e390121.setIcon(icon_9fb97df757a64dbc9ccb84df0b66836c);
        
    
        var popup_dd17e90b111d4209ba67f70abd7dfb38 = L.popup({"maxWidth": "100%"});

        
            var html_6795349d3bee46d0b1fc52d86012a955 = $(`<div id="html_6795349d3bee46d0b1fc52d86012a955" style="width: 100.0%; height: 100.0%;">Name: DENT, Username: @dentcoin</div>`)[0];
            popup_dd17e90b111d4209ba67f70abd7dfb38.setContent(html_6795349d3bee46d0b1fc52d86012a955);
        

        marker_112d36c4f39b47e69e01dd3c1e390121.bindPopup(popup_dd17e90b111d4209ba67f70abd7dfb38)
        ;

        
    
    
            var marker_a2ceb4b677664c64b098e79fd119fa30 = L.marker(
                [49.9923181, 36.2310146],
                {}
            ).addTo(map_b9888e747ea34dedb258e8f4ce7b2135);
        
    
            var icon_faed28eff1744aa9aa6ff7212359991c = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "fa-circle-user", "iconColor": "yellow", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_a2ceb4b677664c64b098e79fd119fa30.setIcon(icon_faed28eff1744aa9aa6ff7212359991c);
        
    
        var popup_6ad925a00a42401b97bca21df5badf30 = L.popup({"maxWidth": "100%"});

        
            var html_231313e06341475fbb3c1d93d8f0cc76 = $(`<div id="html_231313e06341475fbb3c1d93d8f0cc76" style="width: 100.0%; height: 100.0%;">Name: Illya Klymov, Username: @xanf_ua</div>`)[0];
            popup_6ad925a00a42401b97bca21df5badf30.setContent(html_231313e06341475fbb3c1d93d8f0cc76);
        

        marker_a2ceb4b677664c64b098e79fd119fa30.bindPopup(popup_6ad925a00a42401b97bca21df5badf30)
        ;

        
    
    
            var marker_485f9e02ec3841e58b679bf6e4d10206 = L.marker(
                [46.7985624, 8.2319736],
                {}
            ).addTo(map_b9888e747ea34dedb258e8f4ce7b2135);
        
    
            var icon_88a8dd20eece42f59726743d06c03327 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "fa-circle-user", "iconColor": "yellow", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_485f9e02ec3841e58b679bf6e4d10206.setIcon(icon_88a8dd20eece42f59726743d06c03327);
        
    
        var popup_7b92b1f2dc3347568cd2cc827640d874 = L.popup({"maxWidth": "100%"});

        
            var html_8a22309b0a7d4d169bf19db6efc377c3 = $(`<div id="html_8a22309b0a7d4d169bf19db6efc377c3" style="width: 100.0%; height: 100.0%;">Name: Simon Høiberg, Username: @SimonHoiberg</div>`)[0];
            popup_7b92b1f2dc3347568cd2cc827640d874.setContent(html_8a22309b0a7d4d169bf19db6efc377c3);
        

        marker_485f9e02ec3841e58b679bf6e4d10206.bindPopup(popup_7b92b1f2dc3347568cd2cc827640d874)
        ;

        
    
    
            var marker_aba771314fe846b3a9b008bcff4c7f8e = L.marker(
                [36.3613705, -82.4000853],
                {}
            ).addTo(map_b9888e747ea34dedb258e8f4ce7b2135);
        
    
            var icon_2faf5c384bd84b8cac346b1ca7044cd7 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "fa-circle-user", "iconColor": "yellow", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_aba771314fe846b3a9b008bcff4c7f8e.setIcon(icon_2faf5c384bd84b8cac346b1ca7044cd7);
        
    
        var popup_60c0450a7cf44f1492676093470246d6 = L.popup({"maxWidth": "100%"});

        
            var html_3aaa65b650174563a71d74eac32d2e50 = $(`<div id="html_3aaa65b650174563a71d74eac32d2e50" style="width: 100.0%; height: 100.0%;">Name: Vue.js, Username: @vuejs</div>`)[0];
            popup_60c0450a7cf44f1492676093470246d6.setContent(html_3aaa65b650174563a71d74eac32d2e50);
        

        marker_aba771314fe846b3a9b008bcff4c7f8e.bindPopup(popup_60c0450a7cf44f1492676093470246d6)
        ;

        
    
    
            var marker_04a3e6c2ee754aa593700459e940599a = L.marker(
                [47.6038321, -122.3300624],
                {}
            ).addTo(map_b9888e747ea34dedb258e8f4ce7b2135);
        
    
            var icon_12fcdbc24c9e42a39ffa95fb9fd7751a = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "fa-circle-user", "iconColor": "yellow", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_04a3e6c2ee754aa593700459e940599a.setIcon(icon_12fcdbc24c9e42a39ffa95fb9fd7751a);
        
    
        var popup_7d61a0fea8b24c88996a15f110dbcd9d = L.popup({"maxWidth": "100%"});

        
            var html_ffe443bfdf4942fcb228bb1fcc04bd72 = $(`<div id="html_ffe443bfdf4942fcb228bb1fcc04bd72" style="width: 100.0%; height: 100.0%;">Name: Amazon Web Services, Username: @awscloud</div>`)[0];
            popup_7d61a0fea8b24c88996a15f110dbcd9d.setContent(html_ffe443bfdf4942fcb228bb1fcc04bd72);
        

        marker_04a3e6c2ee754aa593700459e940599a.bindPopup(popup_7d61a0fea8b24c88996a15f110dbcd9d)
        ;

        
    
    
            var marker_d8ab20feebb74c46914d34a33b139378 = L.marker(
                [47.6694141, -122.1238767],
                {}
            ).addTo(map_b9888e747ea34dedb258e8f4ce7b2135);
        
    
            var icon_ceaa104d35b24eafad33720fde2d393c = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "fa-circle-user", "iconColor": "yellow", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_d8ab20feebb74c46914d34a33b139378.setIcon(icon_ceaa104d35b24eafad33720fde2d393c);
        
    
        var popup_c4c7a5c136734f26910dd413cdb141ff = L.popup({"maxWidth": "100%"});

        
            var html_29113467fa294e92895851f1c868a4d2 = $(`<div id="html_29113467fa294e92895851f1c868a4d2" style="width: 100.0%; height: 100.0%;">Name: Microsoft, Username: @Microsoft</div>`)[0];
            popup_c4c7a5c136734f26910dd413cdb141ff.setContent(html_29113467fa294e92895851f1c868a4d2);
        

        marker_d8ab20feebb74c46914d34a33b139378.bindPopup(popup_c4c7a5c136734f26910dd413cdb141ff)
        ;

        
    
    
            var marker_519f8bb44a52440995b1ac39ee2b852c = L.marker(
                [37.7790262, -122.419906],
                {}
            ).addTo(map_b9888e747ea34dedb258e8f4ce7b2135);
        
    
            var icon_4293e07367e944b38f662d6ac42ab896 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "fa-circle-user", "iconColor": "yellow", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_519f8bb44a52440995b1ac39ee2b852c.setIcon(icon_4293e07367e944b38f662d6ac42ab896);
        
    
        var popup_7fca8d361d8148a19952755aaa279c34 = L.popup({"maxWidth": "100%"});

        
            var html_739267b08f754f199efadd531a9f969a = $(`<div id="html_739267b08f754f199efadd531a9f969a" style="width: 100.0%; height: 100.0%;">Name: GitHub, Username: @github</div>`)[0];
            popup_7fca8d361d8148a19952755aaa279c34.setContent(html_739267b08f754f199efadd531a9f969a);
        

        marker_519f8bb44a52440995b1ac39ee2b852c.bindPopup(popup_7fca8d361d8148a19952755aaa279c34)
        ;

        
    
    
            var marker_a2435712213b44c1a56e4af2b1071f0f = L.marker(
                [33.9188589, -118.3483256],
                {}
            ).addTo(map_b9888e747ea34dedb258e8f4ce7b2135);
        
    
            var icon_35f52f65c75344f7b0060004638fa31b = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "fa-circle-user", "iconColor": "yellow", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_a2435712213b44c1a56e4af2b1071f0f.setIcon(icon_35f52f65c75344f7b0060004638fa31b);
        
    
        var popup_e84668d75c024cee9977abd5f9d36310 = L.popup({"maxWidth": "100%"});

        
            var html_d02f5bed6d97445c8ef9a58a821616ca = $(`<div id="html_d02f5bed6d97445c8ef9a58a821616ca" style="width: 100.0%; height: 100.0%;">Name: SpaceX, Username: @SpaceX</div>`)[0];
            popup_e84668d75c024cee9977abd5f9d36310.setContent(html_d02f5bed6d97445c8ef9a58a821616ca);
        

        marker_a2435712213b44c1a56e4af2b1071f0f.bindPopup(popup_e84668d75c024cee9977abd5f9d36310)
        ;

        
    
    
            var marker_0e59c04bc4d24707a971dbcb6ecc0528 = L.marker(
                [40.7127281, -74.0060152],
                {}
            ).addTo(map_b9888e747ea34dedb258e8f4ce7b2135);
        
    
            var icon_6649d3af4abc4910bd8d63d727f5c54a = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "fa-circle-user", "iconColor": "yellow", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_0e59c04bc4d24707a971dbcb6ecc0528.setIcon(icon_6649d3af4abc4910bd8d63d727f5c54a);
        
    
        var popup_e55e115997784937b35d3087e60223af = L.popup({"maxWidth": "100%"});

        
            var html_686f75703c9742159e451dbd28fe7aaa = $(`<div id="html_686f75703c9742159e451dbd28fe7aaa" style="width: 100.0%; height: 100.0%;">Name: CoinDesk, Username: @CoinDesk</div>`)[0];
            popup_e55e115997784937b35d3087e60223af.setContent(html_686f75703c9742159e451dbd28fe7aaa);
        

        marker_0e59c04bc4d24707a971dbcb6ecc0528.bindPopup(popup_e55e115997784937b35d3087e60223af)
        ;

        
    
    
            var marker_1fe46f7c41a84fb28b0884e3e4a1d805 = L.marker(
                [52.4808348, -1.9142353],
                {}
            ).addTo(map_b9888e747ea34dedb258e8f4ce7b2135);
        
    
            var icon_d64a5236a3264e5fba76d5f91189b436 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "fa-circle-user", "iconColor": "yellow", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_1fe46f7c41a84fb28b0884e3e4a1d805.setIcon(icon_d64a5236a3264e5fba76d5f91189b436);
        
    
        var popup_41bf4fd427b6450c914d54e833cf29aa = L.popup({"maxWidth": "100%"});

        
            var html_414900e869d24015b23729a32eb0053e = $(`<div id="html_414900e869d24015b23729a32eb0053e" style="width: 100.0%; height: 100.0%;">Name: Bitcoin, Username: @Bitcoin</div>`)[0];
            popup_41bf4fd427b6450c914d54e833cf29aa.setContent(html_414900e869d24015b23729a32eb0053e);
        

        marker_1fe46f7c41a84fb28b0884e3e4a1d805.bindPopup(popup_41bf4fd427b6450c914d54e833cf29aa)
        ;

        
    
    
            var marker_7fb975e25bf0468f9ad6877cd7573a4b = L.marker(
                [45.022172, 4.3221548],
                {}
            ).addTo(map_b9888e747ea34dedb258e8f4ce7b2135);
        
    
            var icon_8fb6026390254b09b6dd111c1871bb3d = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "fa-circle-user", "iconColor": "yellow", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_7fb975e25bf0468f9ad6877cd7573a4b.setIcon(icon_8fb6026390254b09b6dd111c1871bb3d);
        
    
        var popup_d11c7cf5007643b8a199d378a9700cff = L.popup({"maxWidth": "100%"});

        
            var html_e1f4df0e1ff341d299c29697a5e26b3a = $(`<div id="html_e1f4df0e1ff341d299c29697a5e26b3a" style="width: 100.0%; height: 100.0%;">Name: BNB Chain 🔶, Username: @BinanceChain</div>`)[0];
            popup_d11c7cf5007643b8a199d378a9700cff.setContent(html_e1f4df0e1ff341d299c29697a5e26b3a);
        

        marker_7fb975e25bf0468f9ad6877cd7573a4b.bindPopup(popup_d11c7cf5007643b8a199d378a9700cff)
        ;

        
    
    
            var marker_de1b09a694474d52afc5266cdf306435 = L.marker(
                [-27.55694235, 122.0429912],
                {}
            ).addTo(map_b9888e747ea34dedb258e8f4ce7b2135);
        
    
            var icon_5849150da5044929a017dec747ace5f7 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "fa-circle-user", "iconColor": "yellow", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_de1b09a694474d52afc5266cdf306435.setIcon(icon_5849150da5044929a017dec747ace5f7);
        
    
        var popup_a123bed90e7e4b59ac1fb17ed218aa34 = L.popup({"maxWidth": "100%"});

        
            var html_a2c8519c07b84d318ec26113615e6fe9 = $(`<div id="html_a2c8519c07b84d318ec26113615e6fe9" style="width: 100.0%; height: 100.0%;">Name: Coinbase, Username: @coinbase</div>`)[0];
            popup_a123bed90e7e4b59ac1fb17ed218aa34.setContent(html_a2c8519c07b84d318ec26113615e6fe9);
        

        marker_de1b09a694474d52afc5266cdf306435.bindPopup(popup_a123bed90e7e4b59ac1fb17ed218aa34)
        ;

        
    
    
            var marker_d44e236fb09149249e92bb4c4771c663 = L.marker(
                [38.8950368, -77.0365427],
                {}
            ).addTo(map_b9888e747ea34dedb258e8f4ce7b2135);
        
    
            var icon_07edfb3834c043d6a9d9f8ce46cbd518 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "fa-circle-user", "iconColor": "yellow", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_d44e236fb09149249e92bb4c4771c663.setIcon(icon_07edfb3834c043d6a9d9f8ce46cbd518);
        
    
        var popup_6a4092a7700b4aca9ba393fb936678ab = L.popup({"maxWidth": "100%"});

        
            var html_1329033958424beebb87a058ada4af00 = $(`<div id="html_1329033958424beebb87a058ada4af00" style="width: 100.0%; height: 100.0%;">Name: Science News, Username: @ScienceNews</div>`)[0];
            popup_6a4092a7700b4aca9ba393fb936678ab.setContent(html_1329033958424beebb87a058ada4af00);
        

        marker_d44e236fb09149249e92bb4c4771c663.bindPopup(popup_6a4092a7700b4aca9ba393fb936678ab)
        ;

        
    
    
            var marker_c3cd55dc653e40d89deb4eae68f596cc = L.marker(
                [37.3893889, -122.0832101],
                {}
            ).addTo(map_b9888e747ea34dedb258e8f4ce7b2135);
        
    
            var icon_42264e8bd802451a9964940ac9b214af = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "fa-circle-user", "iconColor": "yellow", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_c3cd55dc653e40d89deb4eae68f596cc.setIcon(icon_42264e8bd802451a9964940ac9b214af);
        
    
        var popup_781eaab7ca69453e8d60a021efc9ea69 = L.popup({"maxWidth": "100%"});

        
            var html_1da416973a8c4b33937ad3bfb0ee87d6 = $(`<div id="html_1da416973a8c4b33937ad3bfb0ee87d6" style="width: 100.0%; height: 100.0%;">Name: Google, Username: @Google</div>`)[0];
            popup_781eaab7ca69453e8d60a021efc9ea69.setContent(html_1da416973a8c4b33937ad3bfb0ee87d6);
        

        marker_c3cd55dc653e40d89deb4eae68f596cc.bindPopup(popup_781eaab7ca69453e8d60a021efc9ea69)
        ;

        
    
</script>